{% extends 'base.html.twig' %}

{% block title %}Edit Networks{% endblock %}

{% block body %}
    <h1>Edit Networks</h1>

    {{ include('networks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('networks_index') }}">back to list</a>

    {{ include('networks/_delete_form.html.twig') }}
{% endblock %}
