{% extends 'base.html.twig' %}

{% block title %}Edit TourProgram{% endblock %}

{% block body %}
    <h1>Edit TourProgram</h1>

    {{ include('tour_program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tour_program_index') }}">back to list</a>

    {{ include('tour_program/_delete_form.html.twig') }}
{% endblock %}
